body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.dropdown, .dropdown1, .dropdown2 {
    display: inline-block;
    position: relative;
}

.dropdown-content, .dropdown-content1, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content, .dropdown1:hover .dropdown-content1, .dropdown2:hover .dropdown-content2 {
    display: block;
}

.nav-link img {
    width: 30px;
    height: 30px;
}

section {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.grid-item2 {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer-content nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content p {
    margin: 0;
}
